{% extends 'base.html' %}

{% block contenido %}

<div class="card">

    <h2>Clientes registrados</h2>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Teléfono</th>
        </tr>

        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.telefono }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay clientes registrados</td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}